.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}
.showcategory-indexsort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  margin-top: 1.5rem;
  transform: translate(80rem, -6rem);
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  width: 150px;
}
.shopcategory-indexsort p {
  margin: 3rem;
  margin-left: 5rem;
  margin-top: 5rem;
  background: linear-gradient(to right, rgb(250, 177, 255), white);
  padding: 2rem;
  border-radius: 20px;
  width: 250px;
  font-size: 1.1rem;
}
.shopcategory-indexsort p span {
  font-weight: 600;
  gap: 3px;
  margin-right: 3px;
}
.shopcatergory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  gap: 30px;
}
.shopcatergory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .shopcategory-indexsort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexsort p {
    font-size: 12px;
  }
  .shopcatergory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcatergory-products .item {
    margin: auto;
  }
  .shopcatergory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-indexsort {
    width: 95%;
  }
  .shopcatergory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shopcatergory-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .shopcategory-indexsort {
    width: 95%;
  }
  .shopcatergory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
